.material-icons-outlined { vertical-align: bottom; }
.material-icons-outlined.red { color: darkred; }
.material-icons-outlined.blue { color: darkblue; }
.material-icons-outlined.orange { color: sandybrown; }
.material-icons-outlined.md-14 { font-size: 14px; }
.material-icons-outlined.md-16 { font-size: 16px; }
.material-icons-outlined.md-18 { font-size: 18px; }
.material-icons-outlined.md-24 { font-size: 24px; }
.material-icons-outlined.md-36 { font-size: 36px; }
.material-icons-outlined.md-48 { font-size: 48px; }

* {
  font-family: "Helvetica", sans-serif;
}

body {
  background-color: #d0d0d0;
  padding: 0;
  margin: 0;
}

a {
  color: black;
}

a.material-icons-outlined {
  text-decoration: none;
}

.menu {
  background-color: darkgreen;
  color: #f5f5f5;
  margin-bottom: 20px;
  vertical-align: middle;
}

.menu a {
  text-decoration: none;
}

.menu__left-submenu-trigger {
  width: 60%;
  display: inline-block;
  box-sizing: border-box;
  color: #f5f5f5;
}

.menu__left-submenu {
  width: 60%;
  display: none;
  box-sizing: border-box;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu__left-submenu--expanded {
  display: block;
  width: auto;
  position: absolute;
  background-color: darkgreen;
  list-style-type: none;
  padding: 10px 20px;
  margin: 0;
}

.menu__left-submenu li {
  display: inline;
}

.menu__left-submenu li:not(:last-child):after {
  content: "·";
}

.menu__right-submenu {
  width: 40%;
  display: inline-block;
  box-sizing: border-box;
  text-align: right;
}

.menu__item {
  font-weight: bold;
  display: inline-block;
  padding: 15px 1em;
  color: #f5f5f5;
}

.menu__item:hover {
  padding-bottom: 10px;
  border-bottom: 5px solid #f5f5f5;
}

.content {
  padding: 0 10px 10px 10px;
  margin: auto auto 40px;
  background-color: #d0d0d0;
}

.footer {
  position: fixed;
  top: auto;
  bottom: 10px;
  text-align: center;
  width: 100%;
  font-size: 0.8em;
  z-index: -99;
}

.bookmarks {
  list-style-type: none;
  padding: 0;
}

.bookmarks-header,
.bookmarks-footer {
  font-size: 0.8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1em 0;
}

.bookmarks__stats {
  flex-basis: 25%;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.bookmarks__search {
  font-size: 0.8rem;
  flex-basis: 24%;
  margin: auto;
}

.bookmarks__filter {
  flex-basis: 33%;
}

.bookmarks__nav {
  width: 34%;
  text-align: center;
}

.bookmarks__page-size {
  text-align: center;
  display: none;
}

.bookmarks__sort {
  flex-basis: 33%;
  text-align: right;
}

.bookmarks__sort-toggle {
  cursor: pointer;
}

.bookmarks__nav--prev,
.bookmarks__nav--next {
  cursor: pointer;
}

.bookmarks__page-size-item,
.bookmarks__filter-item {
  padding: 0.3em;
  margin: 0.15em;
  background-color: #f5f5f5;
  text-decoration: none;
  cursor: pointer;
  display: inline;
}

.bookmarks__page-size-item--selected,
.bookmarks__filter-item--selected {
  @extend .bookmarks__page-size-item;
  background-color: darkgreen;
  color: #f5f5f5;
}

.bookmark {
  margin-bottom: 10px;
  box-shadow: 1px 1px 3px #797979;
  background: #f5f5f5;
}

.bookmark__title {
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.5em;
}

.bookmark__title a {
  color: darkgreen;
  text-decoration: none;
}

.bookmark__title-icon {
  color: darkgray;
  padding-right: 0.5em;
}

.bookmark__title-private-icon {
  color: sandybrown;
  float: right;
  cursor: default;
}

.bookmark__description {
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.bookmark__footer {
  background: #ddd;
  display: flex;
}

.bookmark__tags-list {
  font-size: 0.8em;
  padding: 0.5em;
  list-style-type: none;
  background: #ddd;
}

.bookmark__tags-list li {
  display: inline;
}

.bookmark__tags-list li:not(:last-child):after {
  content: " · ";
}

.bookmark__actions {
  font-size: 0.8em;
  padding: 0.5em;
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
}

.bookmark__link {
  font-size: 80%;
  padding: 0.5em;
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.highlight {
  background-color: yellow;
}

.bookmark__date--updated {
  cursor: help;
  text-decoration: underline dotted black;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99999;
}

.overlay__content--center-middle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.qrcode__legend {
  color: white;
  text-align: center;
}

.centered-box {
  padding: 15px;
  box-shadow: 1px 1px 3px #797979;
  background-color: #f5f5f5;
  margin: auto;
  box-sizing: border-box;
  width: 100%;
}

.centered-box__title {
  color: darkgreen;
  text-align: center;
}

.centered-box__buttons {
  text-align: right;
}

.centered-box__error {
  color: darkred;
}

.centered-box__ok {
  color: darkgreen;
}

input[type="text"],
input[type="password"],
textarea,
.input-tag {
  border: solid 1px #d8d8d8;
  border-radius: 2px;
  background: #eee;
  padding: 5px 15px 5px 15px;
  width: 100%;
  color: #252525;
  box-sizing: border-box;
  font-size: 1em;
}

input:focus,
textarea:focus,
.input-tag--focus {
  outline: 1px solid orange;
}

textarea {
  height: 100px;
}

.input-tag {
  input {
    border: none;
    padding: 0;
    width: auto;
  }
  input:focus {
    outline: none;
  }
}

.input-tag__tags {
  float: left;
  white-space: nowrap;
  overflow: scroll;
  max-width: 70%;
}

.input-tag__input {
  overflow: hidden;
  input {
    //background-color: darkgreen;
    width: 100%;
  }
}

.input-tag__tag {
  background-color: lightblue;
  padding: 1px 5px;
  margin-right: 5px;
  border-radius: 15px;
  cursor: default;
}

.input-tag__tag--selected {
  @extend .input-tag__tag;
  background-color: lightpink;
}

.input-tag__delete {
  font-size: 1.1em;
  color: gray;
  cursor: pointer;
}

.input-tag__autocomplete {
  margin: 5px 0 0 0;
  list-style-type: none;
  padding: 5px;
  position: absolute;
  background-color: #eee;
  border: 1px solid #d8d8d8;
  min-width: 15em;
  cursor: default;
}

.input-tag__autocomplete li:hover,
.input-tag__autocomplete--selected {
  background-color: lightblue;
}

.input-tag__autocomplete-match {
  background-color: yellow;
}

.button {
  border: 0;
  box-shadow: 1px 1px 1px #d8d8d8, -1px -1px 6px #d8d8d8, -1px 1px 2px #d8d8d8, 1px -1px 2px #d8d8d8;
  background: darkgreen;
  padding: 10px 20px;
  vertical-align: middle;
  font-size: 1.2em;
}

.button--safe {
  @extend .button;
  background: darkgreen;
  color: #f5f5f5;
}

.button--danger {
  @extend .button;
  background: darkred;
  color: #f5f5f5;
}

.button--action {
  @extend .button;
  background: darkblue;
  color: #f5f5f5;
}

.button--disabled {
  @extend .button;
  background: dimgray;
  color: #f5f5f5;
}

.password-checks {
  list-style-type: none;
  padding: 0;
}

.github-fork-ribbon {
  display: none;
}

.tag-cloud {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 2.5rem;

  a[data-weight="1"] { --size: 1; }
  a[data-weight="2"] { --size: 2; }
  a[data-weight="3"] { --size: 3; }
  a[data-weight="4"] { --size: 4; }
  a[data-weight="5"] { --size: 5; }
  a[data-weight="6"] { --size: 6; }
  a[data-weight="7"] { --size: 7; }
  a[data-weight="8"] { --size: 8; }
  a[data-weight="9"] { --size: 9; }
  a[data-weight="10"] { --size: 10; }
  a[data-weight="11"] { --size: 11; }
  a[data-weight="12"] { --size: 12; }
  a[data-weight="13"] { --size: 13; }
  a[data-weight="14"] { --size: 14; }
  a[data-weight="15"] { --size: 15; }
  a[data-weight="16"] { --size: 16; }
  a[data-weight="17"] { --size: 17; }
  a[data-weight="18"] { --size: 18; }
  a[data-weight="19"] { --size: 19; }

  a {
    color: darkgreen;
    display: block;
    padding: 0.125rem 0.25rem;
    text-decoration: none;
    position: relative;

    font-size: calc(var(--size) * 0.25rem + 0.5rem);

    span {
      font-size: 0.8rem;
      color: gray;
      vertical-align: sub;
    }
  }
}

/** Responsive **/

@media (min-width: 760px) {
  .centered-box {
    width: 700px;
  }

  .menu__left-submenu-trigger {
    display: none;
  }

  .menu__left-submenu {
    display: inline-block;
  }

  .github-fork-ribbon {
    display: block;
  }

  .bookmarks__filter {
    flex-basis: 45%;
  }

  .bookmarks__nav {
    width: 10%;
  }

  .bookmarks__page-size {
    width: 35%;
    display: block;
  }

  .bookmarks__sort {
    flex-basis: 10%;
  }
}

@media (min-width: 1220px) {
  .content {
    width: 1200px;
  }
}
